body {
  background-color: #116466;
}
h1 {
  color: #d1e8e2;
    font-size: 25px;
}
p {
  color: #d1e8e2;
}


 table, th, td {
  border:1px solid black;
}

    
    
    
}






